.sign-up-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  height: 100vh;
}

.sign-up-container-box {
  box-shadow: 0 0 10px 0 rgb(226, 225, 225);
  padding: 10px;
  border-radius: 5px;
  width: 430px;
}

.email-signup > label {
  display: block;
  margin-bottom: 10px;
}

.email-signup {
  padding: 15px;
}

.email-signup > input {
  width: 100%;
  height: 38px;
  border-radius: 6px;
}

h2 {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.sign-up-btn {
  display: flex;
  padding: 15px;
}

.sign-up-btn > button {
  width: 100%;
  height: 40px;
}

.blog-card {
  box-shadow: 0 0 10px 0 rgb(223, 221, 221);
  padding: 10px;
}

.blog-card > div {
  display: flex;
  padding: 10px;
  align-items: center;
}

.blog-title {
  display: flex;
  justify-content: space-between;
}

.create-cta {
  padding: 10px;
  text-align: right;
}

.create-cta > button {
  padding: 10px 20px;
  height: 38px;
  box-shadow: 0 0 10px 0 rgb(153, 151, 151);
  border: none;
  background-color: #343a40;
  color: white;
  border-radius: 6px;
}

.create-wrap {
  padding: 30px;
}

.create-card {
  width: 100%;
  height: 100vh;
  padding: 15px;
  border: 1px solid black;
}

.create-item {
  padding: 15px;
}
.create-item > label {
  margin-right: 10px;
}

.create-cta-blog > button {
  padding: 10px 20px;
  height: 38px;
  box-shadow: 0 0 10px 0 rgb(153, 151, 151);
  border: none;
  background-color: #343a40;
  color: white;
  border-radius: 6px;
}
